footer {
    display: flex;
    position: relative;
    height: 6.14vh;
    align-items: center;
    background-color: #474143;
    color: #E7E2Da;
    width: 100%;
}

.footerBox {
    width: 20vw;
    text-align: center;
}

@media screen and (max-width: 960px) {
    footer {
        position: relative;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .footerBox {
        padding: 2%;
        text-align: left;
    }

    footer {
        display: block;
        height: 50vh;
    }
}