main {
    background-color: #fff;
    padding-top: 5.86vh;
    min-height: 88vh;
}

.filtersBox {
    display: flex;
    align-items: center;
    height: 5vh;
}

.filter {
    outline: none;
    font-family: Roboto;
    color: #474143;
    text-indent: 5%;
    margin: 0 1%;
}

.filterName {
    width: 30vw;
    margin-right: 2%;
}

.filterDate {
    width: 30vw;
}

.filterHashtags {
    margin-left: 2%;
    width: 30vw;
}

.postBox {
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 3%;
}

.fa-heart, .fa-edit, .fa-trash-alt {
    font-size: 1.4em;
    padding: 0 10%;
}

.fa-heart:hover {
    transition: .3s;
    transform: scale(1.2);
    color: #c00;
}

.fa-heart {
    transition: .3s;
}

.fa-trash-alt:hover{
    animation: swing 0.6s ease;
    animation-iteration-count: 1;
}

.foto {
    object-fit: cover;
    width: 100%;
    max-height: calc(20vw / 16 * 9);
}

.fotoSpace {
    width: 20vw;
    margin: auto;
    padding: 2% 0 2% 0;
    height: calc(20vw / 16 * 9);
}

.commentBox {
    width: 20vw;
    height: 6vh;
    margin: 2% auto 1% auto;
    padding: 1%;
    font-size: 0.8em;
    text-align: left;
}

.hashtagsBox {
    width: 20vw;
    max-height: 2.2vh;
    margin: 1% auto 2% auto;
    padding: 1%;
    font-size: 0.8em;
    text-align: left;
}

.dateBox {
    width: 20vw;
    font-size: 0.7em;
    margin: auto;
}

.moreFotoButton {
    width: 100%;
    position: relative;
    text-align: center;
}

@media screen and (max-width: 960px) {
    .postBox {
        width: 33.3%;
    }

    .fa-heart, .fa-edit, .fa-trash-alt {
        font-size: 1.8em;
        padding: 0 10%;
    }

    .fotoSpace {
        width: 100%;
        margin: auto;
        height: calc(33.3vw / 16 * 9);
    }

    .foto {
        width: 80%;
        max-height: calc(33.3vw / 16 * 9);
    }

    .commentBox {
        width: 80%;
        max-height: calc(80% / 2);
        margin: 4% auto 2% auto;
    }

    .hashtagsBox {
        width: 80%;
        margin: 2% auto 4% auto;
    }

    .dateBox {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .postBox {
        width: 100%;
    }

    .fa-heart, .fa-edit, .fa-trash-alt {
        font-size: 3em;
    }

    .fotoSpace {
        height: calc(80% / 16 * 9);
    }

    .foto {
        object-fit: cover;
        width: 100%;
        max-height: calc(100% / 16 * 9);
    }
}

@keyframes swing {
    15% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    30% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    40% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    50% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    65% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}